<section class="pulse-form">
  <div class="pulse-form__hero">
    <p class="pulse-form__eyebrow">Nouvelle activite</p>
    <ion-card-subtitle class="pulse-form__title">Informations de la seance</ion-card-subtitle>
    <p class="pulse-form__subtitle">Un format plus compact, plus net, avec l’essentiel au premier regard.</p>
  </div>

  <div class="pulse-form__field pulse-form__field--date">
    <small class="pulse-form__label">Date</small>
    <ion-item lines="none" [formGroup]="staminaSessionForm">
      <span class="material-icons icon-color mr-1">calendar_month</span>
      <ion-datetime-button class="pulse-form__date-button" datetime="datetime" />
    </ion-item>
  </div>

  <div class="pulse-form__grid">
    <div class="pulse-form__field">
      <small class="pulse-form__label">Libelle</small>
      <ion-item lines="none" [formGroup]="staminaSessionForm">
        <span class="material-icons icon-color mr-1">edit_note</span>
        <ion-input class="input" type="text" formControlName="label" placeholder="Sortie vallonnee, test allure..."></ion-input>
      </ion-item>
    </div>

    <div class="pulse-form__field">
      <small class="pulse-form__label">Base d'entrainement</small>
      <ion-item lines="none" [formGroup]="staminaSessionForm">
        <span class="material-icons icon-color mr-1">repeat</span>
        <ion-select class="input select-input mx-1"
                    formControlName="staminaTraining"
                    placeholder="Aucun entrainement"
                    (ionChange)="onTrainingSelected($event.detail.value)">
          @for(training of savedTrainings(); track training.id){
            <ion-select-option [value]="training.id">
              {{ training.name || training.sportType?.name || training.sport.name }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    </div>
  </div>

  <app-sport-selects [staminaTrainingForm]="staminaSessionForm" />

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime"
                    presentation="date"
                    locale="fr-FR"
                    [value]="selectedDate"
                    (ionChange)="onSessionDateChange($event.detail.value)" />
    </ng-template>
  </ion-modal>

  <div class="pulse-form__grid">
    <div class="pulse-form__field">
      <small class="pulse-form__label">Temps effectue</small>
      <ion-item lines="none" [formGroup]="staminaSessionForm">
        <span class="material-icons icon-color mr-2">alarm</span>
        <ion-input class="input" type="number" formControlName="realTime" placeholder="51"></ion-input>
      </ion-item>
    </div>

    <div class="pulse-form__field">
      <small class="pulse-form__label">Kilometres</small>
      <ion-item lines="none" [formGroup]="staminaSessionForm">
        <span class="material-icons icon-color mr-2">directions_walk</span>
        <ion-input class="input" type="number" formControlName="realKilometers" placeholder="10.4"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="pulse-form__field pulse-form__field--range">
    <small class="pulse-form__label">Difficulte de l'activite</small>
    <ion-item lines="none" [formGroup]="staminaSessionForm">
      <div class="pulse-form__range-wrapper">
        <div class="pulse-form__range-header">
          <span class="material-icons icon-color">star</span>
          <strong>{{ staminaSessionForm.value?.realDifficulty }}/10</strong>
        </div>
        <ion-range class="pulse-form__range"
                   label-placement="end"
                   [label]="staminaSessionForm.value?.realDifficulty"
                   min="0"
                   max="10"
                   formControlName="realDifficulty" />
      </div>
    </ion-item>
  </div>

  <div class="pulse-form__grid">
    <div class="pulse-form__field">
      <small class="pulse-form__label">Temps echauffement</small>
      <ion-item lines="none" [formGroup]="staminaSessionForm">
        <span class="material-icons icon-color mr-2">timeline</span>
        <ion-input class="input" type="number" formControlName="realWarmupTime" placeholder="12"></ion-input>
      </ion-item>
    </div>

    <div class="pulse-form__field">
      <small class="pulse-form__label">Km echauffement</small>
      <ion-item lines="none" [formGroup]="staminaSessionForm">
        <span class="material-icons icon-color mr-2">route</span>
        <ion-input class="input" type="number" formControlName="realWarmupKilometers" placeholder="2.5"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="pulse-form__grid">
    <div class="pulse-form__field">
      <small class="pulse-form__label">Meteo</small>
      <ion-item lines="none" [formGroup]="staminaSessionForm">
        <span class="material-icons icon-color mr-2">cloud</span>
        <ion-select class="input select-input mx-1" formControlName="weatherCondition" placeholder="Meteo">
          @for(weatherCondition of Object.values(WeatherCondition); track weatherCondition){
            <ion-select-option [value]="weatherCondition">{{ weatherCondition }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
    </div>

    <div class="pulse-form__field pulse-form__field--toggle">
      <small class="pulse-form__label">Termine</small>
      <ion-item lines="none" [formGroup]="staminaSessionForm">
        <span class="material-icons icon-color mr-2">check_circle</span>
        <ion-toggle formControlName="realised" justify="space-between">Session terminee</ion-toggle>
      </ion-item>
    </div>
  </div>

  <div class="pulse-form__field">
    <small class="pulse-form__label">Programme</small>
    <ion-item lines="none" [formGroup]="staminaSessionForm">
      <span class="material-icons icon-color mr-2">calendar_month</span>
      <ion-select class="input select-input mx-1" formControlName="program" placeholder="Programme">
        @for(program of programs(); track program){
          <ion-select-option [value]="program.id">{{ program.name }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  </div>
</section>
